body {
    font-family: "Roboto";
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header section */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 16px 48px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

.header-links {
    margin:0;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 14px;
}

/* Hero section */

.hero-section {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 60px 48px;
    justify-content: space-between;
    gap: 12px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 8px;
}

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    color:#e5e7eb;
    font-size: 18px;
}

.hero-signup-btn {
    background-color: #3882f6;
    color:#f9faf8;
    width: fit-content;
    padding:8px 16px;
    border-radius: 8px;
    border-color: #3882f6;
    font-size: 16px;
    font-weight: 600;
}

.hero-section img {
    width: 400px;
    height: 275px;
}

/* Information section */

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 48px 50px;
    gap: 8px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 20px;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.info-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 6px;
    margin-bottom: 8px;
}

.info-card {
    color: #1f2937;
    font-size: 14px;
    width: 156px;
    text-align: justify;
    text-align-last: center;
}

ul {
    list-style: none;
}